find number of times 4 appears in tuple

In [1]:
tupl1=(2,4,5,6,2,3,4,4,7)
tupl1.count(4)

3

converting list to tuple

In [2]:
list1=[265,245,2,"K",5,4,55,5]
res=tuple(list1)
res

(265, 245, 2, 'K', 5, 4, 55, 5)

program to count numbers in a given list of tuples

In [3]:
l=[(1,2),(2,3),(3,4)]
res=0
for ele in l:
    res+=sum(ele)
print("The sum is : ", res)

The sum is :  15

write python program to iterate the given tuples

In [4]:
employee1=("Jon Doe",101,"Human Resources",60000)
employee2=("Alex","HR", 102,"Marketing", 50000)
employee3=("Bob","HR",103,"Engineering", 55000)
print(f"Name:{employee1[0]},Employee ID: {employee1[1]},Department:{employee1[2]},Salary:{employee1[3]}")
print(f"Name:{employee2[0]},Employee ID: {employee2[1]},Department:{employee2[2]},Salary:{employee2[3]}")
print(f"Name:{employee3[0]},Employee ID: {employee3[1]},Department:{employee3[2]},Salary:{employee3[3]}")

Name:Jon Doe,Employee ID: 101,Department:Human Resources,Salary:60000
Name:Alex,Employee ID: HR,Department:102,Salary:Marketing
Name:Bob,Employee ID: HR,Department:103,Salary:Engineering

In [5]:
print("-------------------------BILLING COUNTER------------------------")
elements=int(input("How many products do you like to purchase : "))
all_items=[]
for i in range(elements):
    items=[]
    product1=input("Enter your product Name : ")
    items.append(product1)
    price=int(input("Purchased product price : "))
    items.append(price)
    number=int(input("Quantity Purchased : "))
    items.append(number)
    res=tuple(items)
    print(res)
    all_items.append(res)
print(all_items)
print()
print("----------------BILL DETAILS--------------")
print()
total=0
for ele in all_items:
    print(f"{ele[0]} : ₹{ele[1]} x {ele[2]} = ₹{ele[1] * ele[2]} ")
    total+=ele[1]*ele[2]
print()
print("Total Amount to Pay : ", total)

-------------------------BILLING COUNTER------------------------
How many products do you like to purchase : 3
Enter your product Name : Book
Purchased product price : 50
Quantity Purchased : 10
('Book', 50, 10)
Enter your product Name : Pen
Purchased product price : 25
Quantity Purchased : 15
('Pen', 25, 15)
Enter your product Name : Uniform
Purchased product price : 780
Quantity Purchased : 1
('Uniform', 780, 1)
[('Book', 50, 10), ('Pen', 25, 15), ('Uniform', 780, 1)]

----------------BILL DETAILS--------------

Book : ₹50 x 10 = ₹500
Pen : ₹25 x 15 = ₹375
Uniform : ₹780 x 1 = ₹780

Total Amount to Pay :  1655