1. Add and remove student names from a list

In [5]:
students=["Abhi","Aditya","Shashi","Shashank","Kiran","Manoj"]
students.insert(0,"Goutham")
students

['Goutham', 'Abhi', 'Aditya', 'Shashi', 'Shashank', 'Kiran', 'Manoj']

In [6]:
students.remove("Manoj")
students

['Goutham', 'Abhi', 'Aditya', 'Shashi', 'Shashank', 'Kiran']

2. Create a list of even numbers from 1 to 20.

In [8]:
res=[x*2 for x in range(11)]
res

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

3.Find the average of marks from a list.

In [16]:
marks=[71,68,72,75,74]
val=sum(marks)
print("Number of subjects : ",len(marks))
print("Total Marks : ", val)
avg_marks=val/len(marks)
print("Average Marks : ", avg_marks)

Number of subjects :  5
Total Marks :  360
Average Marks :  72.0

4.Check if a product is available in a shopping cart.

In [17]:
cart=["books","pen","pencils","paper"]
name="pen"
if name in cart:
    print(f"{name} is available")
else:
    print("Item not available")

pen is available

5.Count how many times a name appears in a list.

In [18]:
list1=['kiran','kiran','aditya','nandi','kiran']
list1.count('kiran')

3

6. Write a Python program to split a given list into two parts where the length of the first
part of the list is given.

Original list:

[1, 1, 2, 3, 4, 4, 5, 1]
Length of the first part of the list: 3

Splitted the said list into two parts:

([1, 1, 2], [3, 4, 4, 5, 1])

In [21]:
num=[1, 1, 2, 3, 4, 4, 5, 1]
num1=num[:3]
num2=num[3:]
print([num1,num2])

[[1, 1, 2], [3, 4, 4, 5, 1]]