1. Using input() function take one number from the user and using ternary operators
check whether the number is even or odd

In [1]:
number=int(input("enter the number"))
res= "Even" if number%2==0 else "Odd"
print(res)

enter the number15
Odd

2. Using input function take two number and then swap the number

In [2]:
num1=int(input("Enter first number "))
num2=int(input("Enter second number "))
print("Num1",num1)
print("Num2",num2)
temp=num1
num1=num2
num2=temp
print("After swapping")
print("Num1 ",num1)
print("Num2 ",num2)

Enter first number 33
Enter second number 66
Num1 33
Num2 66
After swapping
Num1  66
Num2  33

3. Write a Program to Convert Kilometers to Miles

In [4]:
km=int(input("Enter the value in Kilometer to show in Miles : "))
miles= km * 0.621371
print("Km to Miles : ", miles)

Enter the value in Kilometer to show in Miles : 60
Km to Miles :  37.28226

4. Find the Simple Interest on Rs. 200 for 5 years at 5% per year.

In [5]:
principle=200
time=5 #years
rate=5 #%
Simple_Interest=(principle * time * rate) /100
print(Simple_Interest)

50.0